@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-04-06 14:27:42
 * @version $Id$
 */
 .btn{
 	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    margin-left: 10px;
 }
#mymap{
	width: 1000px;
	height: 550px;
	border: 1px solid #ccc;
}
#result{
	width: 200px;
	height: 550px;
	background-color: #ccc;
	border: 1px solid #ccc;
	margin-left: 5px;
	overflow-y:scroll;
	overflow-x:scroll;
}
#lake{
	cursor: pointer;
	padding-left: 20px;
	border: 1px solid #ccc;
}
#school{
	cursor: pointer;
	padding-left: 20px;
}
#ques{
	cursor: pointer;
	padding-left: 20px;	
}
.container{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 12px;
}