@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-03-30 13:52:05
 * @version $Id$
 */
.maind{
	left: 38%;
	width: 300px;
	height: 550px;
	position: absolute;
/*	border:1px solid lightgray;*/
}
.ind{
	width: 298px;
	height: 30px;
	background-color: #f7f7f7;
	border-bottom: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
}
.indx{
	width: 59px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	padding: 0px;
	box-sizing: border-box;
	float: left;
	font-size: 12px;
	/*font-weight: 600;*/
}
.indxc{
	width: 59px;
	height: 31px;
	text-align: center;
	line-height: 30px;
	padding: 0px;
	box-sizing: border-box;
	float: left;
	font-size: 12px;
	background-color: white;
	font-weight: 600;
	border-right: 1px solid #eeeeee;
	border-bottom:1px solid white;	
}
.con{
	width:298px; 
	height:60px;
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	border-bottom:1px solid #eeeeee;

}
.cont{
	width: 250px;
	height: 18px;
	margin-top: 6px;
	margin-left: 20px;
	margin-bottom: 2px;
	border:1px solid black;
	float: left;
}
.thi{
	width: 298px;
	height: 120px;
	border-bottom:1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
}
.tip{
	width: 60px;
	height: 60px;
	background-color: #ff4400;
	margin: 5px 5px 5px 5px;
	float: left;
}
.tic1{
	width: 200px;
	height: 20px;
	margin-top: 10px;
	margin-left: 5px;
	margin-bottom: 5px;
	border:1px solid black;
	float: left;	
}
.tic2{
	width: 200px;
	height: 20px;
	margin-top: 1px;
	margin-left: 5px;
	margin-bottom: 12px;
	border:1px solid black;
	float: left;	
}
.tipc{
	color: white;
	font-size: 12px;
	font-weight: bolder;
	text-align: center;
	line-height: 25px;
	background-color: #ff4400;
	width: 90px;
	height: 25px;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 2px;	
	float: left;
}
.fo{
	width: 298px;
	height:40px;
	padding: 10px 0px 0px 0px;
	border-bottom:1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
}

.fiont{
	width: 300px;
	height: 285px;
}
.flo1{
	height: 188.6px;
	width: 118px;
	border-bottom:1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	float: left;
	font-size: 13px;
	color: gray;
}
.flo1s{
	height: 80px;
	width: 60px;
	margin: 20px 20px 20px 30px;
	background-color: #ff4400;
	float: left;	
}
.flo1c{
	width: 120px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	float: left;
}
.flo{
	height: 94px;
	width: 59px;
	background-color: white;
	float: left;
	border-bottom:1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	font-size: 13px;
	color: gray;
}
.flos{
	height: 40px;
	width: 40px;
	margin: 10px 5px 10px 10px;
	float: left;
	background-color: #ff4400;
}
.flosc{
	width: 59px;
	height: 10px;
	text-align: center;
	line-height: 10px;
	float: left;	
}
.flo2{
	height: 94px;
	width: 58px;
	background-color: white;
	float: left;
	border-bottom:1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
	font-size: 13px;
	color: gray;
}